
/* Your CSS Code here. */
div{
	width : 200px;
	background-color:purple;
	border-style:none none none solid;
	border-width: 5px;
	border-color: green;
	padding:10px;
}
h1{
	color:white;
	font-size:20px;
}